.cv-component {
  scroll-margin-top: 150px;
  margin-bottom: 15%;
  border-right: 1px solid var(--dark-red);
  padding-right: 30px;
}
.cv-component h2 {
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: var(--dark-red);
  text-align: end;
  margin: 15% auto 5%;
}

.cv-date {
  font-size: 0.8em;
  font-weight: 400;
}
.cv-section-title {
  font-weight: 700;
  margin-bottom: 0;
}

.cv-section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 50px;
}
.cv-section div {
  padding: 0 5% 5% 0;
}

ul {
  padding: 0;
}
.li {
  font-size: 0.9em;
  font-weight: 300;
  margin-top: 2%;
  line-height: 1.7;
}
.li a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 700;
}
.li a:hover {
  color: var(--secondary-color);
}
.li-act-as-paragraph {
  list-style: none;
  line-height: 1.7;
}
.li span {
  background-color: #903749;
  padding: 0% 1%;
  opacity: 70%;
  font-weight: 200;
}
.construction-icon {
  filter: invert();
  background-color: transparent;
  width: 4%;
  margin: 10px 0 30px 0;
}
.html-logo {
  width: 5%;
  display: inline-block;
  margin-right: 15px;
}
.css-logo {
  width: 5%;
  display: inline-block;
  margin-right: 15px;
}
.js-logo {
  width: 5%;
  display: inline-block;
  margin-right: 15px;
}
.react-logo {
  width: 5%;
  display: inline-block;
  margin-right: 15px;
}
.node-logo {
  width: 5%;
  display: inline-block;
  margin-right: 15px;
}
.express-logo {
  width: 5%;
  display: inline-block;
  margin-right: 15px;
  filter: invert();
}
.mongodb-logo {
  width: 5%;
  display: inline-block;
  margin-right: 15px;
}
.ruler-camera-icon {
  width: 4%;
  display: inline-block;
  filter: invert();
  background-color: transparent;
  margin: 10px 20px 30px 0;
}
.docker-logo {
  width: 5%;
  display: inline-block;
  margin-right: 15px;
}
