@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

:root {
  --main-color: #2b2e4a;
  --secondary-color: #fbe4d6;
  --secondary-text-color: #577ff1;
  --btn-color: #a6f6ff;
  --dark-red: #e84545;
  --mov: #53354a;
}

body {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  color: white;
  background-color: var(--main-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

@media screen and (max-width: 1200px) {
  .title h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 900px) {
  .title h1 {
    font-size: 2.5rem;
  }
  .title-container {
    margin-top: 2%;
    left: 3%;
  }
  .all-projects {
    display: block;
  }
  .btns .btn {
    margin: 15% 50%;
  }
}
@media screen and (max-width: 480px) {
  .title {
    /* display: none; */
    margin-top: 15%;
  }
  .title h1 {
    font-size: 2rem;
    font-weight: 100;
    color: var(--secondary-color);
    -webkit-text-fill-color: initial;
  }
  .title p {
    margin: 0;
    font-weight: 200;
    font-size: 0.9rem;
  }
  .sticky {
    display: none;
  }
  .menu {
    position: fixed;
    top: 0%;
    padding-top: 20px;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 50px;
    width: 100%;
  }
  .btns .btn {
    margin: 0;
  }
  .menu button {
    display: inline;
    font-size: 0.9rem;
    opacity: 100%;
  }
  .all-projects {
    display: block;
  }
  .main-content {
    width: 90%;
    margin: auto;
    padding: 0px;
    background-color: transparent;
  }
  .description {
    padding: 1%;
    margin-top: 15%;
    border-right: none;
  }
  .description h2 {
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 2px;
    text-align: center;
  }
  .description p {
    font-size: 0.9rem;
    font-weight: 300;
  }
  .all-projects {
    padding-right: 30px;
  }
  .all-projects h2 {
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 2px;
    text-align: end;
  }
  .project-img {
    display: none;
  }
  .cv-component {
    border-right: none;
  }
  .cv-component h2 {
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 2px;
    text-align: end;
  }
  .html-logo {
    width: 10%;
  }
  .css-logo {
    width: 10%;
  }
  .js-logo {
    width: 10%;
  }
  .react-logo {
    width: 10%;
  }
  .node-logo {
    width: 10%;
  }
  .mongodb-logo {
    width: 10%;
  }
  .express-logo {
    width: 10%;
  }
  .construction-icon {
    width: 10%;
  }
  .ruler-camera-icon {
    width: 10%;
  }
}
